



@use '../custom' as *;

.companies{
	margin-top: 3rem;
	margin-bottom: 3rem;
	h4{
 		font-family: "Poppins", sans-serif;
		font-size: 1.2rem;
		color: $primary;
		margin-bottom: 2.5rem;
	}
	&__logo-box{
		max-width: 100%;
		height: 2rem;
		margin-bottom: 4rem;
		padding: 0.5rem;
		img{
			height: 60px;
		}	
	}
}


@media (min-width: 992px) {
	.companies{
	margin-top: -3rem;

	}
}